body {
  background: #c5d5cb;
}

#form-box {
  background: #FFFFFF;
  border: 1px solid #ddd;
  margin: 0 0;
  padding: 40px 20px 30px 20px;
}

#title-box{
    background: #e3e0cf;
    border: 1px solid #ddd;
    margin-top: 200px;
    margin-bottom: 0px;
}
